<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.meisydevlab.flutter_wifi_scan">
    <!-- Required for Wi-Fi scanning -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    
    <!-- Required for location-based Wi-Fi scanning on Android 6+ -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
    <!-- Required for Wi-Fi scanning on Android 10+ -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>
